/* gradient blue tallies */
/*Directional*/
.ref_type_1 {
	color:#FFCC33; 	
}

/*Brief*/
.ref_type_2 {
	color:#238B8B; 	
}

/*Extended*/
.ref_type_3 {
	color:#3b3b3b;	 
}

/*Consultation*/
.ref_type_4 {
	color:#9CB2B2;	 
}

/*General Circ*/
.ref_type_5 {
	color:#FF6633
;	 
}

/*Reserves Circ*/
.ref_type_6 {
	color:#003DF5
;	 
}

/*ILL / MEL Circ*/
.ref_type_7 {
	color:#FF3366;	 
}

/*Print / Copy / Scan*/
.ref_type_8 {
	color:#FF33CC;	 
}

/*Desktop Support*/
.ref_type_9 {
	color:#6633FF;	 
}

/*BYOD Support*/
.ref_type_10 {
	color:#D49454;	 
}

/*Staff Support*/
.ref_type_11 {
	color:#66FF33;	 
}

/*Classroom Support*/
.ref_type_12 {
	color:#578B23;	 
}

/* general */
#footer {
	margin-bottom:40px;
	text-align:center;
}
.refstats_logo{	
	margin-top:20px;
	margin-bottom:10px;
	height:40px;
}
.logo_prefix{
	/* color:#FFCC33; */
}
.no_dec:link, .no_dec:visited, .no_dec:hover, .no_dec:active  {
	text-decoration:none;
	color:black;
}

/* buttons */


.btn-WSUgreen {
	background-color:#9CB2B2;
	border-color:#9CB2B2;
	color:white;	
}

#breadcrumb .btn-WSUgreen {
	margin-top:5px;
}

.btn-WSUgreen:hover, .btn-WSUgreen:active, .btn-WSUgreen:target, .btn-WSUgreen:focus {
	background-color:#596565;
	color:white;
}

button.ref {
	background-color:#069e87;
	border-color:#069e87;
}
button.ref:hover {
	background-color:#046F5F;
	border-color:#046F5F;
}

button.circ {
	background-color:#eec445;
	border-color:#eec445;
	color:white;
}
button.circ:hover {
	background-color:#B79736;
	border-color:#B79736;
	color:white;
}

button.tech {
	
	background-color:#00565c;
	border-color:#00565c;
}
button.tech:hover {
	background-color:#00363A;
	border-color:#00363A;
}


/* bootstrap pager override */
.pager li>a, .pager li>span {
	border-radius:4px;
}

#refreport h4 {
    cursor:pointer;
}

#refreport table{
	font-family:"Lucida Console", Monaco, monospace;
}

#refreport table td{
	border-top:none;
	padding:0px;		
}

.time_col{
	width:45px;
}

#edit_table h4 {
    cursor:pointer;
}

/* colors */
.light_green {
	color:#dee6e6; 
}

.yellow {
	color:#fc3; 
}

.dark_green {
	color:#093f39; 
}

/* report */
.stat_name{
	font-weight:bold;
}

#report_messages{
	display:none;
}

#export{
	display:none;
}

#quickstats{
	display:none;
}

.checkbox_grid li {
    display: block;
    float: left;
    width: 25%;
}

.checkbox {
	margin-top:0px;
	margin-bottom:5px;
}

.raw_json{
	display:none;
}

.quickstats_dividers {
	margin-top:35px;
	margin-bottom:35px;
}

#logo{
	height:50px;
}
.spacer40 {
	margin-bottom:40px;
}







